@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Bebas+Neue&family=Bungee+Shade&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monofett&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

.mainHead {
    height: 15vh;
    background-color: rgb(85, 85, 239);
    color: white;
    display: flex;
    align-items: center;
    padding-left: 2vw;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */

}

.card {
    border: 2px solid black;
    margin: 25px;
    height: 32vh;
    width: 23vw;
    box-sizing: border-box;
    background: linear-gradient(45deg, white 55%, rgb(85, 85, 239));
    border-radius: 10px;
}

.buttons {
    display: flex;
    position: relative;
    bottom: -103px;
    gap: 10px;
    justify-content: center;
}

.b1 {

    height: 40px;
    padding: 0 10px;
    width: fit-content;
    left: 50px;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: rgb(40, 179, 82);
    cursor: pointer;
}

.b1:hover {
    background-color: rgb(30, 121, 57);
}

.b2 {

    height: 40px;
    padding: 0 10px;
    width: fit-content;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: rgb(244, 53, 53);
    font-weight: 500;
    cursor: pointer;
}

.b2:hover {
    background-color: rgb(169, 34, 34);

}

.name {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
}

.info {
    position: relative;
    margin-top: 10px;
}
.mainHead{
    font-size: 25px;
}

.left {
    position: absolute;
    left: 10px;
}

.right {
    position: absolute;
    left: 220px;
}

.add {
    position: fixed;
    bottom: 50px;
    right: 40px;
    width: 100px;
    height: 60px;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgb(85, 85, 239);
    color: white;
    border: none;


}

.add:hover {
    background-color: rgb(42, 42, 128);
}

.addNew {

    position: fixed;
    width: 40vw;
    height: 70vh;
    z-index: 10;
    border-radius: 10px;
    font-size: 25px;
    background-color: white;
    background: linear-gradient(45deg, white 55%, rgb(85, 85, 239));
    border: 2px solid black;
    visibility: hidden;
}

.NewHead {
    display: flex;
    justify-content: center;

}

.newInputs {
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-left: 20px;
    font-size: 17px;
}

.newInputs input {
    margin-left: 10px;
    height: 25px;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 10px;
}

.Darkener {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    opacity: .6;
    background-color: rgb(11, 11, 11);
    visibility: hidden;
}

.Confirm {
    position: absolute;
    right: 85px;
    bottom: 30px;
    width: 120px;
    height: 60px;
    color: white;
    background-color: rgb(85, 85, 239);
    font-size: 25px;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
}
.Next{
    
    background-color: red;
    height: 60px;
    width: 120px;
    color: white;
    background-color: rgb(85, 85, 239);
    font-size: 25px;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
    margin-right: 10px;
    
}
.nextCont{
    width: 100%;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
      /* flex-basis: 100%; */
}